/******************* BASIC STYLING **********************/
.scroll_tabs_container {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
    height: 40px;
    margin-bottom: 10px;
}

ul.scroll_tabs_container {
    list-style: none;
}

.scroll_tabs_container div.scroll_tab_inner {
    height: 40px;
}

.scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 14px;
    background-color: #CCCCCC;
    color: #333333;
    cursor: pointer;
}

.scroll_tabs_container div.scroll_tab_inner li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    list-style-type: none;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0px;
    width: 0px;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0px;
    width: 0px;
}

.scroll_tabs_container .scroll_tab_left_button {
    height: 40px;
    background-color: #CCCCCC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_container .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 40px;
    padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_left_button_over {
    background-color: #999999;
}

.scroll_tabs_container .scroll_tab_left_button_disabled {
    color: #AAAAAA;
    background-color: #CCCCCC;
}

.scroll_tabs_container .scroll_tab_right_button {
    height: 40px;
    background-color: #CCCCCC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_container .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 40px;
    padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_right_button_over {
    background-color: #999999;
}

.scroll_tabs_container .scroll_tab_right_button_disabled{
    color: #AAAAAA;
    background-color: #CCCCCC;
}

/****************** LIGHT THEME **************************/
.scroll_tabs_theme_light {
    height: 43px;
}

.scroll_tabs_theme_light div.scroll_tab_inner {
    height: 38px;
}

.scroll_tabs_theme_light div.scroll_tab_inner span, .scroll_tabs_theme_light div.scroll_tab_inner li {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 36px;
    font-size: 14px;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #000000;
    cursor: pointer;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_first, .scroll_tabs_theme_light div.scroll_tab_inner li.scroll_tab_first {
    border-left: 0px;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0px;
    width: 10px;
    background-color: #CCCCCC;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0px;
    width: 10px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #CCCCCC;
    border-left: 0px;
    border-right: 1px solid #999999;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_over, .scroll_tabs_theme_light div.scroll_tab_inner li.scroll_tab_over {
    background-color: #000000;
    color: #ffffff;
}

/*.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_first_over {
  background-color: #999999;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_left_finisher_over {
  background-color: #999999;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_right_finisher_over {
  background-color: #999999;
}*/

/*.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_left_finisher_selected {
  background-color: #AAAAAA;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_right_finisher_selected {
  background-color: #AAAAAA;
}*/


.scroll_tabs_theme_light .scroll_tab_left_button {
    height: 38px;
    background-color: #29abe2;
    color: #ffffff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #29abe2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_theme_light .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 38px;
    padding-left: 5px;
    font-size: 12px;
}

.scroll_tabs_theme_light .scroll_tab_left_button_over {
    background-color: #000000;
}

.scroll_tabs_theme_light .scroll_tab_left_button_disabled {
    color: #ffffff;
    background-color: #29abe2;
    opacity: .8;
}

.scroll_tabs_theme_light .scroll_tab_right_button {
    height: 38px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #29abe2;
    border: 1px solid #29abe2;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_theme_light .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 38px;
    padding-left: 7px;
    font-size: 12px;
}

.scroll_tabs_theme_light .scroll_tab_right_button_over {
    background-color: #000000;
}

.scroll_tabs_theme_light .scroll_tab_right_button_disabled{
    color: #AAAAAA;
    background-color: #CCCCCC;
}

.scroll_tabs_theme_light div.scroll_tab_inner span.tab_selected, .scroll_tabs_theme_light div.scroll_tab_inner li.tab_selected {
    background-color: #29abe2;
    color: #ffffff;
}

/*.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_first_selected {
  background-color: #AAAAAA;
}*/

/****************** DARK THEME **************************/
.scroll_tabs_theme_dark {
    height: 42px;
}

.scroll_tabs_theme_dark div.scroll_tab_inner {
    height: 42px;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span, .scroll_tabs_theme_dark div.scroll_tab_inner li {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 14px;
    background-color: #333333;
    border-left: 1px solid #222222;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    color: #FFFFFF;
    cursor: pointer;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_first, .scroll_tabs_theme_dark div.scroll_tab_inner li.scroll_tab_first {
    border-left: 0px;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0px;
    width: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0px;
    width: 10px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
    border-right: 1px solid #222222;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_over, .scroll_tabs_theme_dark div.scroll_tab_inner li.scroll_tab_over {
    background-color: #555555;
}

.scroll_tabs_theme_dark .scroll_tab_left_button {
    height: 42px;
    background-color: #333333;
    color: #FFFFFF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #222222;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_theme_dark .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 40px;
    padding-left: 5px;
}

.scroll_tabs_theme_dark .scroll_tab_left_button_over {
    background-color: #666666;
}

.scroll_tabs_theme_dark .scroll_tab_left_button_disabled {
    color: #444444;
    background-color: #333333;
}

.scroll_tabs_theme_dark .scroll_tab_right_button {
    height: 42px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #333333;
    border: 1px solid #222222;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_theme_dark .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 40px;
    padding-left: 5px;
}

.scroll_tabs_theme_dark .scroll_tab_right_button_over {
    background-color: #666666;
}

.scroll_tabs_theme_dark .scroll_tab_right_button_disabled{
    color: #444444;
    background-color: #333333;
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.tab_selected, .scroll_tabs_theme_dark div.scroll_tab_inner li.tab_selected {
    background-color: #666666;
}
